cp-stories {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: max-content auto;
  /* Component styles go here */
}

.story {
  border: none;
  grid-column: 2;
  height: 100%;
  width: auto;
  margin: 0;
  resize: none;
}

.stories-list {
  grid-column: 1;
  width: 128px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
  background: #ddd;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.stories-list a {
  display: block;
  color: #333;
  text-decoration: none;
}
.stories-list a:hover {
  background: #d0d0d0;
}

.story-link-active {
  color: #777;
  background: #ccc;
}

.stories-list ul {
  padding: 0;
  list-style-type: none;
}

.stories-list li {
  padding: 8px;
}
